body {
  font-family: 'Work Sans', sans-serif;
  width: 100%
  align-content: center;
  font-size: 2rem;
  text-align: center;
}

.button{
  background-color: rgba(3, 11, 35, 0.5);
  font-size: 1.2rem;
  color: white;
  border: 2px solid white;
  border-radius: 8px;
  padding: 1rem;
  display: inline-table;
}

.pad {
  padding: 0;
}


.txt {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.divi {
  margin-top: 2rem;
  width: 800px;
  height: 600px;
  text-align: center;
  display:inline-block
}
