/*body {
  font-family: 'Work Sans', sans-serif;
  width: 100%
  align-content: center;
  font-size: 2rem;
  text-align: center;
}

.button{
  background-color: rgba(3, 11, 35, 0.5);
  font-size: 1.2rem;
  color: white;
  border: 2px solid white;
  border-radius: 8px;
  padding: 1rem;
  display: inline-table;
}

.pad {
  padding: 0;
}


.txt {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.divi {
  margin-top: 2rem;
  width: 800px;
  height: 600px;
  text-align: center;
  display:inline-block
}
*/
/* ---------Responsive----------*/
* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


/* ---------Responsive----------*/
.img {
    width: 100%;
    height: auto;
}


@media only screen and (max-width: 600px) {
  body{
    background-color: red;
    text-align: center;
  }

  h1 {
    font-size: 2rem;
    padding: 1rem;
  }

  .txt {
    background-color: yellow;

  }
}







@media only screen and (min-width: 768px) {
  body{
    background-color: blue;

  }

}




@media only screen and (min-width: 1024px) {
  body{
    background-color: black;

  }

}
